<div class="col-md-6 user-container">
  <h2 style="text-align: center;">Contatos</h2>

  <div class="search-user">
    <input class="form-control" size=100 type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Busque por Nome, Email, Telefone ou Endereço ">
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Endereço</th>
      <th style="text-align: center;">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | filter:searchText">
      <td>{{user.nome}}</td>
      <td>{{user.telefone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.endereco}}</td>
      <td align="center">
        <div class="btn-group btn-group-sm" role="group" aria-label="Ações para os Contatos!">
          <button class="btn btn-success" (click)="editUser(user)">
            <mat-icon  class="md-icon-button" md-font-icon="fa fa-edit" aria-label="Editar Contato">edit</mat-icon>
          </button>
          <button class="btn btn-danger" (click)="deleteUser(user)">
            <mat-icon  class="md-icon-button" md-font-icon="fa fa-delete" aria-label="Excluir Contato">delete</mat-icon>          
          </button>       
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>